*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
textarea{
	resize: none;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
section,main,article{
	display: block;
}
body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14px;
}
#jvm-header,#jvm-recently,#why-us,#partner-deals{
	width:100%;
	background-position: relative;
	background-size: cover;
	background-repeat: none;
	background-color: #fff;
}
#jvm-header{
	background-image: url("../image/1.jpg");
	height:650px;
}
#jvm-recently{
	background-image: url("../image/2.jpg");
	height:680px;
}
#why-us{
	background-image: url("../image/3.jpg");
	height:700px;
}
#partner-deals{
	background-image: url("../image/4.jpg");
	height:auto;
}
#jvm-header .jvm-pad > ul > li {
	color: #fff;
	float: left;
	padding: 0 15px;
	font-weight: bold;
	font-size: 15px;
}
.jvm-pad .fa {
	padding:10px;
}
.jvm-flot .dropdown-menu {
	right: 0;
	left:auto;
}
.jvm-pad{padding:0 25px;}
#jvm-header h1 {
	font-size: 50px;
	color: #fff;
	padding-top:40px;
}
.jvm-flot >ul {
	margin-top: 22px;
}
.jvm-pad ul li .btn {
	padding: 0 35px;
	margin-bottom: 0;
	/*font-size: 16px;*/
	font-weight: 700;
	background-color: #981713;
	color:#fff;
	border: 1px solid #981713;
}
.jvm-pad ul li .btn:hover {
	border: 1px solid #981713;
}
.header-content .nav-tabs {
	border: 1px solid #99aec9;
	width: 25%;
	margin: 5.5% auto 2.5% auto;
}
.header-content .nav-tabs ul li{padding:0;}
.header-content .tab-content {
	color: #fff;
}
.header-content .nav-tabs > li,.header-content .nav > li > a:focus, .header-content .nav > li > a:hover{background: rgba(0, 0, 0, 0.7);}
.header-content .nav-tabs > li.active > a, .header-content .nav-tabs > li.active > a:focus,.header-content .nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: #991813;
	border: 1px solid #991813;
}
.header-content .nav-tabs > li > a:hover {
	border-color: #171A18 #171A18;
	background-color: #981713;
}
.header-content  .nav-tabs > li > a {
	margin-right: 0;
	border-radius: 0;
	color:#fff;
}
.header-content .nav > li > a {
	padding: 8px 15px;
	font-size: 20px;
	font-weight:500;
	
}
.header-content .nav-tabs > li {
	width: 50%;
	margin-bottom: 0px;
}

#header-myModal h3,#login-myModal h3 {
	font-size: 28px;
	font-weight: 600;
	font-family: 'Source Sans Pro',semi-bold;
	margin-left: 10px;
}
#demo p {
	background-color: #fff;
	width: 200px;
	padding: 5px 10px;
	
}
.jvm-pad .open > .dropdown-toggle.btn-default:focus,.jvm-pad .open > .dropdown-toggle.btn-default:hover,.jvm-pad .open > .dropdown-toggle.btn-default:active{
   font-size: 16px;
	font-weight: 700;
	background-color: #981713;
	color:#fff;
}
.jvm-pad .dropdown-menu > li > a {
	padding: 5px;
	font-weight: bold;
	font-size: 15px;
}
#jvm-header .dropdown ul li {
	padding: 0 5px;
	width: 100%;
}
.jvm-pad .dropdown-menu {
	min-width: 200px;
	padding: 0px 0; 
	margin: 0px 0 0; 
	border-radius: 0px; 
}
.jvm-pad .dropdown-menu .divider {
	margin: 0;
}
.jvm-flot{float:right;}
#jvm-recently h2,#partner-deals h2{
	color:#fff;
	padding: 15px 0;
	font-size: 25px;
}
.header-content input {
	color: #000;
	padding:7px 15px;
	width: 600px;
	font-size: 20px;
	font-weight: 600;
	background: rgba(0,0,0,0.7);
	color: #fff;
	border-color:#99aec9;
	border-style: solid solid;
	border-width: 0.04px 0px 0.04px 0.04px;
}
.rect-p,.rect-info ul li span {
	font-size: 11px;
	font-weight: bold;
	color:#C7C7C7;
}
.rect-extrainfo p strong {
	font-size: 16px;
}
.rect-inner h3 {
	background-color: #F3F3F3;
	padding: 25px 15px;
	font-size: 18px;
	font-weight: bold;
}
.rect-extrainfo {
	padding-bottom: 8px;
}
.header-content input:hover{background-color:#0F0C07;}
.search-box {
	padding: 9.5px 35px;
	margin-bottom: 8px;
	font-size: 16px;
	border-radius: 0 4px 4px 0;
	background-color: #981713;
	font-weight: bold;
}
.btn.search-box:hover {
	color: #fff;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #981713;
	position: absolute;
	left: 45%;
	z-index: 1;
}
.arrow-down2{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #99aec9;
	position: absolute;
	left: 45%;
	top: 47px;
}
.header-content ul li .arrow-down,.header-content ul li .arrow-down2 {
	display: none;
}
.nav-tabs li:active .arrow-down,.nav-tabs li:focus .arrow-down,
.nav-tabs li:active .arrow-down2,.nav-tabs li:focus .arrow-down2{
	display: block;
}
.rect-info {
	padding: 10px 20px;
}
.rect-info h4 {
	font-weight: 600;
	padding: 10px 0;
	margin-left: -6px;
}
.why-us-position .img-responsive {
	width: 140px;
	margin: 0 auto;
}
.rect-info .list-inline > li:last-child {
	font-weight: bold;
}
.rect-info .list-inline > li:first-child {
	width: 100px;
}
.rect-info ul li img {
	width: 15px !important;
	float: right;
	margin: 0 0px 0 20px;
}
.rect-info .list-inline > li {
	width:auto;
	padding-left: 0px;
}
#header-myModal .modal-dialog {
	width: 855px;
}
#header-myModal .modal-header,#login-myModal .modal-header {
	background-color:#991813;
	color: #fff;
	padding: 15px;
}
.rect-inner,.why-us-inner {
	background-color: #fff;
}
.jvm-pad .btn-default.active,.jvm-pad .btn-default:active,.jvm-pad .open > .dropdown-toggle.btn-default {
	border-color: #981713;
}
#header-myModal .modal-header .close,#login-myModal .modal-header .close {
	margin: 5px;
	background-color: #991813;
	padding: 0px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 38px;
	width: 38px;
	line-height: 0.8;
	color: #fff;
	opacity: 1;
}
#header-myModal .close {
	font-size: 30px;
	color: #fff;
	opacity: 1;
	font-weight: normal;
}
#why-us h3 {
	color: #fff;
	padding: 30px 0;
	font-weight: 600;
	font-size: 26px;
}
.why-us-inner {
	height: 526px;
}
.why-us-position h4 {
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
}
.why-us-content  li:before{
   content: url('../image/tttick.png');
   position: absolute;
   left: 5px;
   top: 2px;
}
.why-us-content li {
	font-size: 16px;
	padding: 0px 30px;
	position: relative;
	margin-bottom: 10px;
	font-weight: 600;
	font-family: 'Source Sans Pro', regular;
}
.why-us-content {
	padding-top: 20px;
}
.why-us-content .img-responsive{
	display: inline-block;
}
.why-us-position.text-center {
	padding-top: 25px;
}
#partner-deals hr{
	margin-top: 10px;
	margin-bottom:0px;
	border: 0;
	border-top: 1px solid #F4F4F0;
	padding: 10px;
}
#jvm-navlist,.copy-2017{color:#fff;}
.copy-2017 {
	text-align: right;
}
#jvm-navlist li {
	margin-right: 20px;
}
.feedback-property
{
	width: 310px;
    height: 100px;
    /* Rotate div */
    -ms-transform: rotate(270deg); /* IE 9 */
    -webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
    transform: rotate(270deg);
}
#feedback-inner,#property-inner {
	background-color: #fff;
	color: #000;
	padding: 10px 20px;
}
#feedback-inner h3 {
	color: #9A1714;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
#feedback-inner p {
	font-weight: 600;
	padding: 10px 10px 15px 10px;
}

.login-checkbox .checkbox-custom,#feedback-inner .radio-custom,#login-r-button .radio-custom{
    opacity: 1;
    position: absolute;   
}

.login-checkbox .checkbox-custom,.login-checkbox .checkbox-custom-label,#feedback-inner .radio-custom,#feedback-inner .radio-custom-label 
#login-r-button.radio-custom,#login-r-button .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    color: #8C8C8C;
}

.login-checkbox .checkbox-custom-label,#feedback-inner .radio-custom-label,#login-r-button .radio-custom-label{
    position: relative;
}

#feedback-inner .radio-custom + .radio-custom-label:before,
#login-r-button  .radio-custom + .radio-custom-label:before  {
    content: '';
    background: #fff;
    border: 1px solid #B1B1B1;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.login-checkbox .checkbox-custom{
	display: none;
}
.login-checkbox .checkbox-custom + .checkbox-custom-label:before{
	content: '';
    background: #fff;
    border: 1px solid #B1B1B1;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    background-size: 16px;
    text-align: center;
}
.login-checkbox .checkbox-custom:checked + .checkbox-custom-label:before {
    box-shadow: inset 0px 0px 0px 4px #fff;
    background-image: url("../image/tttick.png");
}

#feedback-inner .radio-custom + .radio-custom-label:before,#login-r-button .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

#feedback-inner .radio-custom:checked +  .radio-custom-label:before,
#login-r-button .radio-custom:checked +  .radio-custom-label:before {
    background: #9A1714;
    box-shadow: inset 0px 0px 0px 4px #fff;
}


./*checkbox-custom:focus + .checkbox-custom-label,*/#feedback-inner .radio-custom:focus + .radio-custom-label,
#login-r-button .radio-custom:focus + .radio-custom-label {
  outline: 1px solid #ddd; /* focus style */
}
 #feedback-inner input[type="radio"] {
	display: none;
}
 #feedback-inner .form-control {
	height: 55px;
	font-size: 15px;
	color:black;
	background-color: #EBEBEB;
	border: 1px solid #ccc;
	font-weight: bold;
	border-radius: 0px;
}
#feedback-inner {
	widows: 80%;
	margin: 0 auto;
	background: #FFF;
	position: relative;
}
#set-alert,#set-alert1{
	background-color: #831017;
	color: #fff;
	font-size: 18px;
	padding: 14px 0;
}
#set-alert1{width: 100%;}
#set-alert2 {
	padding: 14px 53px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	font-size: 20px;
	background-color: #991813;
	color:#fff;
	margin-bottom: 5px;
}
.feedback-sidebox img {
	position: absolute;
	right: -32px;
	top: 0;
}
#comment {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 15px;
	line-height: 1.42857143;
	color:#555;
	background-color: #EBEBEB;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	border-radius: 0px;
	font-weight: bold;
}
#login-r-button img {
	width: 72px;
	height: auto;
}
#header-myModal #login-r-button ul > li {
	width: 40%;
}
#header-myModal #login-r-button input[type="radio"]{display: none;}
 .login-ppl .modal-footer {

	border-top: 0px solid #e5e5e5;
}
.login-model-form .form-control {
	border-width:0 0 1px 0;
	border-style:solid;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	padding: 6px 0px;
	font-size: 15px;
	font-weight: 700;
}
.login-model-form  .form-group {
	margin-bottom: 44px;
}
.login-model-form {
	margin-top: 40px;
}
.vjv-account-p1 {
	color: #000;
	font-size: 13px;
}
.vjv-account-p2 {
	color: #797979;
	font-size: 13px;
}
.vjv-account-p2 a,.login-model-p a {
	color: #991813;
}
.new-account-rightpart li {
	color: #383838;
	font-size: 13px;
	padding-bottom: 7.5px;
	font-weight: 700;
}
.new-account-image img {
	height: 263px;
}
#header-myModal .modal-body {
	position: relative;
	padding: 30px 15px 15px 15px;
}
.new-account-rightpart ul {
	list-style: disc;
}
.login-model-p {
	text-align: right;
}
.login-checkbox {
	margin-bottom: 30px;
}
#login-myModal .new-account-image {
	margin-top: 55px;
	padding: 0 15px;
}
#login-myModal  .form-group {
	margin-bottom:35px;
}
#login-myModal .modal-footer {
	border-top: 0px solid #e5e5e5;
}
.feedback-smile {
	max-width: 260px;
	margin: 0 auto;
	padding-top: 22%;
}
#post-ads .post-ad-pad > ul > li {
	color:#656565;
	float: left;
	padding: 0 15px;
	font-weight: bold;
	font-size: 15px;
	line-height: 5;
}
.post-header {
	background-color: #ddd;
	height: 90px;
	padding: 0 25px;
}
.list-inline.post-profile li:first-child {
	margin-right: 10px;
}
.post-ad-inner {
	background-color: #eee;
	height: auto;
	padding: 15px 0;
}
.post-ad-inner .post-req {
	float: right;
}
.post-ad-details {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}
.list-inline.post-border {
	padding: 20px 10px;
}
.post-color{
	color: #991813;
	font-weight: 700;
	font-size: 22px;
}
.post-ad-inner .post-req{background-color: #991813;border-radius: 5px;}
.post-ad-inner .post-req .btn-default {
	color: #333;
	background-color: #991813;
	border-color: #991813;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}
.post-ad-details .container {
	width: 100%;
}
.property-content hr{margin:0;}
.property-content p {
	margin-left: 25px;
	background-color: #811219;
	width: 155px;
	padding: 2px 5px;
	color: #fff;
	font-size: 16px;
	border-radius: 0 0 5px 5px;
}
.post-form {
	padding: 20px 10px;
	width: 100%;
}
.post-form label{font-size: 13px;}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
	display: block;
}
.post-form .form-group {
	margin-bottom: 50px;
}
/* SANTHOSH CODE */
#social_icons{
	position: fixed;
	right: 10px;
	top: 30%;
	z-index: 9;
}
a:focus,a:visited{
	outline: 0px;
	text-decoration: none;
}
.animate_div_click{
	position: fixed;
	top: 20%;
	left: -400px;
	width: 400px;
}
.animate_div_click img{
	display: block;
	position: absolute;
	right: -26px;
}
.property_alert.animate_div_click img{
	top: 20%;
}
.feedback_alert.animate_div_click img{
	top: 55%;
}
/*SHASHIMSHA NEW CODE*/
#post-ads .post-ad-pad > ul > li {
	color:#656565;
	float: left;
	padding: 0 15px;
	font-weight: bold;
	font-size: 15px;
	line-height: 5;
}
.post-header {
	background-color: #ddd;
	height: 90px;
	padding: 0 25px;
}
.list-inline.post-profile li:first-child {
	margin-right: 10px;
}
.post-ad-inner {
	background-color: #eee;
	height: auto;
	padding: 15px 0 25px 0;
}
.post-ad-inner .post-req {
	float: right;
}
.post-ad-details {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}
.list-inline.post-border {
	padding: 20px 10px;
}
.post-color{
	color: #991813;
	font-weight: 700;
	font-size: 22px;
}
.post-ad-inner .post-req{background-color: #991813;border-radius: 5px;}
.post-ad-inner .post-req .btn-default {
	color: #333;
	background-color: #991813;
	border-color: #991813;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}
.post-ad-details .container {
	width: 100%;
}
.property-content hr{margin:0;}
.property-content p {
	margin-left: 25px;
	background-color: #811219;
	width: 155px;
	padding: 2px 5px;
	color: #fff;
	font-size: 16px;
	border-radius: 0 0 5px 5px;
	word-spacing: 5px;
}
.post-form {
	padding: 20px 10px;
	width: 100%;
}

.post-form label{font-size: 13px;}
.post-form .bootstrap-select.btn-group:not(.input-group-btn), .post-form .bootstrap-select.btn-group[class*="col-"] {
	display: block;
}
.post-form .form-group {
	margin-bottom:60px;

}
.requirement-span {color:red;}
.post-form .btn {
	border: 2px solid #ddd;
	border-radius: 0;
}
.post-form .form-control:focus {
	border-color: #ddd;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}
.post-form .message-something{margin-bottom:30px;}
.property-content {
	border-top: 1px solid #ddd;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width:100%;
}
.post-iframe iframe {
	width: 100%;
	margin-bottom: 30px;
}
.post-form #address{
	border-radius: 0px;
}
.property-photo .photoupload {
	background-color:#EBEBEB;
	padding: 10px 30px 0;
	position: relative;
}
.property-photo .photoupload li {
	width: 14%;
	background-color: #fff;
	height: 130px;
	margin-right: 23px;
	border: 2px dotted #ddd;
	padding: 0;
}
.photoupload label {
	color: #fff;
	height: 124px;
	width: 100%;
}
.photoupload-absolute {
	top:45%;
	position: absolute;
	color:#fff;
	text-align: center;
	width: 12.2%;
}
.photoupload p{
	text-align:right;
	margin-bottom: 15px;
	font-weight: bold;
	 }
.main-photo{
	text-align: justify;
	width: 100%;
	padding: 0 17px;
	text-align-last: center;
}
.photoupload .fa-3x{
	font-size: 3em;
	position: absolute;
	width: 12.2%;
	text-align: center;
}
.photoupload #fileupload ,#fileupload-1,#fileupload-2,#fileupload-3,#fileupload-4,#fileupload-5,#fileupload-6,
#fileupload-7,#fileupload-8,#fileupload-9
 {
	visibility: hidden;
}
.photoupload .fileupload{background-color: #811219;}
.file-11{color:#fff;top: 64px;}
.file-1,.file-2,.file-3,.file-4,.file-5,.file-6,.file-7,.file-8,.file-9{color:#811219;top:42%;}
.photoupload ul{
	width: 100%;
	margin:0 auto;
}
.contact-details .form-control {
	background-color: #EBEBEB;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	font-weight: 600;
}
.contact-details .form-group {
	margin-bottom: 0;
	margin-right: 25px;
}
.tems-rules {
	color: #939393;
	font-weight: 600;
}
.tems-rules a {
	color: #811219;
	font-weight: 600;
}
.contact-submit,.contact-cancel {
	font-weight: bold;
	padding: 5px 43px;
	font-size: 19px;
	border-radius: 5px !important;
	border: 0 !important;
	
}
.contact-submit,.contact-submit:hover{
	background-color: #991813;
	color: #fff;
}
.contact-cancel,.contact-cancel:hover{
	background-color: #EBEBEB;
	color:#999999;
}
.btn.contact-submit.preview {
	float: right;
}
#footer-menu {
	background-color: #841118;
	padding: 10px 20px;
}
.combine-input-select input,.combine-input-select select {
	padding: 6px 25px 6px 12px;
	border: 2px solid #ddd;
}
.combine-input-select  > li {
	display: inline-block;
	padding-right: 0px; 
	padding-left: 0px; 
	margin-left: -5px;
}

.combine-input-select .bootstrap-select > .dropdown-toggle {
	width: 100%;
	padding-right: 25px;
	z-index: 1;
	background-color: #ddd;
}
#post-ads .bootstrap-select.btn-group .dropdown-toggle .filter-option,#post-ads .bs-caret{color:#919191;}
#comment1 {
	border-radius: 0;
	border: 2px solid #ddd;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075)
}
.form-group.form-marg {
	margin-bottom: 30px;
}
.append_area ul {
	width:550px;
	position: absolute;
}
.append_area ul span .fa-2x {
	font-size: 1em;

}
.append_area {
	margin-bottom: 50px;
}
.append_area ul li {
	background: #EBEBEB;
	margin-top: 5px;
	color: #000;
	padding: 10px;
	font-size: 15px;
	width: 135px;
	display: inline-block;
	margin-right: 10px;
}
.location-pad-doun {
	padding-bottom: 130px;
}
.post-ad-pad i {
	margin-right: 8px;
}
.append_area ul li div{
	position: relative;
}
.append_area ul li div span{
	position: absolute;
	right: 0px;
	color: #525252;
	margin:-10px -5px;
}
.contat-pad {
	padding-bottom: 20px;
}
/* 09-03-2017 */
header#inner_header{
	border-top: 1px solid #981814;
	background: #FFF;
}
footer#inner_footer{
	background: #981814;
	color: #FFF;
	font-weight: 600;
}
footer#inner_footer ul{
	margin: 0;
	padding: 0;
}
footer#inner_footer li a{
	color: #FFF;
	padding:10px 0;
	display: inline-block;
}
footer#inner_footer li{
	display: inline-block;
	padding: 0 15px;
}
footer#inner_footer ul.text-left li:first-child{
	padding: 0 15px 0 0;
}
footer#inner_footer ul.text-right li:last-child{
	padding: 0 0 0 15px;
}
section#property_detail_section{
	padding: 20px 0;
	background: #e1e1e1;
}
.plot_img_section figure{
	position: relative;
	color: #FFF;
}
.plot_img_section figcaption{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	width: 100%;
}
.favor_heart{
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 1;
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	background: #841117;
}
.plot_img_section ul{
	margin: 0;
	padding: 0;
}
.plot_img_section li h3{
	font-weight: 900;
	margin: 0 0 7px;
}
ul.site_gallery{
	margin: 0;
	display: inline-block;
}
ul.site_gallery li{
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #FFF;
}
ul.site_gallery img{
	max-width: 100%;
}
ul.site_gallery li.special_load{
	background: #303030;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	padding: 0 10px;
	cursor: pointer;
}
.rating_list li{
	vertical-align: top;
}
.rating_list li i{
	display: inline-block;
	padding: 0 2px;
}
.cmmn_white_bg{
	background: #FFF;
}
.user_short_cuts{
	display: inline-block;
}
.user_short_cuts{
	margin: 0;
	padding: 0;
}
.user_short_cuts li{
	padding: 0;
	margin: 0;
}
.user_short_cuts span{
	display: inline-block;
	width: 27px;
	height: 27px;
	background: #FFF url('../image/icon_shorts.png')no-repeat 0 0;
	background-size: 90px;
}
.user_short_cuts li.print span{
	background-position: 0 0;
}
.user_short_cuts li.pdf span{
	background-position: -31px 0;
}
.user_short_cuts li.phone span{
	background-position: -62px 0;
}
.property_main_left article, .property_main_left .plot_detail_content{
	padding: 15px;
	color: #373737;
}
.property_main_left article{
	border-bottom: 1px solid #af2831;
}
.property_main_left .cmmn_white_bg:not(:last-child){
	margin: 0 0 15px;
}
.property_main_left p{
	text-align: justify;
	line-height: 22px;
	word-spacing: 3px;
}
.plot_detail_content table tr td{
	padding: 4px 0;
	vertical-align: top;
}
.plot_detail_content table tr button.spl{
	color: #000;
	width: 100%;
	font-weight: 700;
	margin: 0 0 0 10px;
	padding: 2px;
	border: 0;
	border-radius: 5px;
	background: #ebebeb;
	border: 1px solid #acacac;
}
.plot_detail_content .document-section{
	text-align: center;
	min-height: 100px;
	color: #6e6e6e;
	font-size: 15px;
}
.plot_detail_content .document-section img{
	max-width: 30px;
}
.plot_detail_content .document-section figure{
	width: 60px;
	height: 60px;
	border:1px solid #CCC;
	border-radius: 100%;
	margin: 0 auto;
	line-height: 50px;
}
.morecontent span {
    display: none;
}
.plot_detail_content .custom_checkbox{
	opacity: 0;
	position: absolute;
}
.plot_detail_content .custom_checkbox, .plot_detail_content .custom_checkbox_label{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.plot_detail_content .custom_checkbox_label{
	position: relative;
	font-weight: normal;
	color: #6e6e6e;
}
.custom_checkbox + .custom_checkbox_label:before{
    content: '';
    background: #fff;
    border: 1px solid #6e6e6e;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    border-radius: 5px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.custom_checkbox:checked + .custom_checkbox_label:before {
    content: "\f00c";
    font-family: 'FontAwesome';
    background: #841118;
    border-color: #841118;
    color: #fff;
    font-size: 11px;
}
#map{
	width: 100%;
	height: 400px;
	border-radius: 5px;
	box-shadow: 0px 1px 2px 2px rgba(132, 17, 24, 0.7);
}
.similar_search > li, .property_detail_right .title_box {
	padding: 15px 10px;
}
.similar_search > li:not(:last-child){
	border-bottom: 1px solid #acacac;
}
.title_box{
	color: #000;
	background: #f7f7f7;
}
.title_box h4{
	font-weight: 700;
}
#inner_header .row > div > ul{
	margin: 0;
}
#inner_header .row > div > ul > li{
	display: inline-block;
	padding: 10px 0;
}
#inner_header .row > div > ul.text-left > li a{
	color: #656565;
	font-weight: 600;
	font-size: 16px;
	position: relative;
}
#inner_header .row > div > ul.text-left > li + li a{
	padding: 0 0 0 40px;
}
.call_icon a:before{
	content: '';
	width: 14px;
	height: 14px;
	background: url('../image/call-icon.png') no-repeat 0 0;
	display: inline-block;
	background-size: 14px;
	position: absolute;
	left: 20px;
	top: 2px;

}
.mail_icon a:before{
	content: '';
	width: 14px;
	height: 14px;
	background: url('../image/mail-icon.png') no-repeat 0 0;
	display: inline-block;
	background-size: 14px;
	position: absolute;
	left: 20px;
	top: 2px;

}
#property_detail_section .less_pad{
	padding: 0 15px 0 0;
}
.property_main_left article h3{
	font-weight: 700;
}
.similar_search li a{
	font-weight: 700;
	font-size: 18px;
	color: #000;
}
.similar_search li p{
	font-size: 12px;
	color: #8a8a8a;
	text-transform: uppercase;
	margin: 0 0 2px;
}
.similar_search li .row div > div{
	padding: 3px 0;
}
.similar_search li h5{
	font-size: 16px;
	color: #000;
}
.display_check_none input{
	display:none;
}
.display_check_none label{
	font-weight:normal;
}
.simple_list li{
	padding: 15px 10px;
}
.simple_list li + li{
	border-top: 1px solid #acacac;
}
.simple_list .read_more_btn,.simple_list h4{
	font-weight: 700;
}
.simple_list .read_more_btn{
	display: inline-block;
	margin: 20px 0 0;
	font-size: 15px;
	color: #000;
	text-transform: uppercase;
}
.simple_list li p{
	color: #841118;
	margin: 5px 0 0;
	font-weight: 500;
}
#result_page_section{
	padding: 20px 0;
	background: #e1e1e1;
}
#result_page_section .white_bg_color{
	background: #FFF;
}
.filer_section{
	padding: 7px 5px;
}
.filer_section .same_btn_list{
	display: block;
	padding: 7px 2px;
	text-align: center;
	font-weight: 700;
	border-radius: 5px;
}
.filer_section #apply{
	color: #FFF;
	background: #841118;
}
.filer_section #more_filter, .filer_section #reset{
	color: #636363;
}
.filer_section #more_filter{
	background: #ebebeb;
}
.filer_section #reset{
	background: #ebebeb url('../image/reset.png')no-repeat 20% 50%;
	background-size: 10px;
}
.filer_section .row{
	margin: 0 -4px;
}
.filer_section .less_pad_custom{
	padding: 0 4px;
}
.filer_section .border_div{
	border-radius: 5px;
	border: 1px solid #999999;
	height: 33px;
}
.filer_section .border_div select{
	background: #f4f4f4;
	border-radius: 5px 0 0 5px;
	border: 0;
	height: 31px;
	width: 20%;
	padding: 0;
	margin: 0;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.filer_section .border_div input{
	border:none;
	height: 31px;
	padding: 0;
	margin: 0;
	width: 70%;
	border-right: 1px solid #acacac;
}
.filer_section .border_div button{
	height: 31px;
	border:none;
	width: 20px;
	background: none;
	margin: 0;
}
#inner_header a:hover{
	text-decoration: none;
}
.main_result{
	padding: 10px 0
}
#map_look_good{
	background: #FFF;
	padding: 10px;
}
#map_result{
	width: 100%;
	border-radius: 10px;
	height: 450px;
}
.result_right_section .white_bg_color{
	background: #FFF;
}
.main_result .less_padding{
	padding: 0 15px 0 0;
}
.result_right_section .title_box_sort{
	background: #f7f7f7;
	padding: 10px;
}
.result_right_section .title_box_sort h4{
	color: #828282;
	font-weight: 700;
}
.result_right_section .title_box_sort h4 span{
	font-weight: 900;
	color: #000;
}
.result_listing > ul  > li{
	padding: 15px;
}
.result_listing a{
	font-weight: 700;
	font-size: 20px;
	color: #000;
	display: block;
	margin: 0 0 3px;
}
.result_listing p{
	color: #8a8a8a;
	padding: 0 0 0 20px;
	position: relative;
	margin: 0 0 2px;
	text-transform: uppercase;
}
.result_listing p:before{
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	display: inline-block;
}
.result_listing p.location:before{
	content: "";
	background: #FFF url('../image/icons/map.png')no-repeat 0 0;
	top: 2px;
	background-size: 10px;
}
.result_listing p.space:before{
	content: "";
	background: #FFF url('../image/icons/site.png')no-repeat 0 0;
	background-size: 15px;
	top: 5px;
}
.result_listing p.price_tag:before{
	content: "";
	background: #FFF url('../image/icons/price-tag.png')no-repeat 0 0;
	background-size: 14px;
	top: 5px;
}
.result_listing .center_result div{
	padding: 2px 0;
}
.result_listing h4{
	color: #373737;
	font-weight: 600;
}
.post_date h5{
	font-weight: 600;
	color: #6d6d6d;
}
.contact_logo_btn{
	border:none;
	box-shadow: none;
	display: inline-block;
	padding: 5px 20px;
	color: #FFF;
	background: #981814;
	border-radius: 5px;
	font-weight: 700;
}
.result_listing .right_result{
	padding: 140px 0 0;
}
#sp-one .owl-stage-outer .owl-stage .owl-item img{
display: block;
    width: 100%;
    padding: 14px;
    background-color: #fff;}