@font-face{
	font-family: "SourceSansPro";
	src: url('../bower_components/font/SourceSansPro-Regular.ttf');
}
@font-face{
	font-family: "SourceBold";
	src: url('../bower_components/font/SourceSansPro-Bold.ttf');
}
@font-face{
	font-family: "SourceSemiBold";
	src: url('../bower_components/font/SourceSansPro-Semibold.ttf');
}
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
textarea{
	resize: none;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
section,main,article,figure{
	display: block;
}
ul,li{
	margin: 0;
}
body{
	font-family: "SourceSansPro",Arial;
	font-size: 14px;
}
.SourceBold{
	font-family: "SourceBold";
}
.SourceSemiBold{
	font-family: "SourceSemiBold";
}
.nav_bar_link .dropdown-menu{
	padding: 0;
}
section#index_header{
	display: block;
	background-size: 100% 100%;
	min-height: 100vh;
	border-top: 2px solid #82121b;
	position: relative;
}
section.land_main_banner{
	background: #FFF url('../images/1.jpg') no-repeat center center fixed;
}
section.requirement_main_banner{
	background: #FFF url('../images/requirement-banner.jpg') no-repeat center center fixed;
}
#inner_header{
	display: block;
	border-top: 2px solid #82121b;
}
#inner_header header, #index_header header{
	display: block;
	padding: 10px 0;
}
#index_header header ul > li > a, #inner_header header ul > li > a{
	position: relative;
	font-family: "SourceSemiBold";
	font-size: 16px;
}
#index_header header ul.header_left > li > a,#index_header header ul.header_right > li > a{
	color: #FFF;
}
#inner_header header ul > li > a{
	color: #656565;
}
#index_header header ul.header_left > li, #inner_header header ul.header_left > li,
#index_header header ul.header_right > li, #inner_header header ul.header_right > li{
	display: inline-block;
}
#index_header header .header_left li + li a, #inner_header header .header_left li + li a{
	padding: 0 0 0 50px;
}
#index_header header .header_right, #inner_header header .header_right{
	text-align: right;
}
#index_header header .header_right > li, #inner_header header .header_right > li{
	padding: 20px 10px;
}
#index_header header .header_right > li:last-child,
#inner_header header .header_right > li:last-child{
	padding: 20px 0 20px 10px;
}
#index_header .header_left li a#ph_num:before{
	content: '';
	width: 16px;
	height: 16px;
	background: url('../images/icons/white-call-icon.png') no-repeat 0 0;
	display: inline-block;
	background-size: 16px;
	position: absolute;
	left: 28px;
	top: 2px;
}
#inner_header .header_left li a#call_icon:before{
	background: url('../images/call-icon.png') no-repeat 0 0;
	content: '';
	width: 16px;
	height: 16px;
	display: inline-block;
	background-size: 16px;
	position: absolute;
	left: 28px;
	top: 2px;
}
#index_header .header_left li a#mail_id:before{
	content: '';
	width: 16px;
	height: 16px;
	background: url('../images/icons/white-mail-icon.png') no-repeat 0 0;
	display: inline-block;
	background-size: 16px;
	position: absolute;
	left: 28px;
	top: 2px;
}
#inner_header .header_left li a#mail_icon:before{
	content: '';
	width: 16px;
	height: 16px;
	background: url('../images/mail-icon.png') no-repeat 0 0;
	display: inline-block;
	background-size: 16px;
	position: absolute;
	left: 28px;
	top: 2px;
}
#index_header .header-content{
	padding: 100px 0;
	color: #FFF;
}
#index_header .header-content h1{
	font-family: "SourceBold";
	margin: 0 0 20px;
	text-align: center;
}
#index_header a,#inner_header a:hover{
	text-decoration: none;
}
.toggle_logo_btn{
	color: #FFF;
	background: #991813;
	font-weight: 700;
	padding: 6px 20px;
}
.toggle_logo_btn:hover,.toggle_logo_btn:focus{
	color: #FFF;
}
#jvm-recently,#why-us,#partner-deals{
	width:100%;
	background-position: relative;
	background-size: cover;
	background-repeat: none;
	background-color: #fff;
}
#jvm-recently{
	background-image: url("../images/2.jpg");
	height:680px;
}
#why-us{
	background-image: url("../images/3.jpg");
	height:700px;
}
#partner-deals{
	background-image: url("../images/4.jpg");
	height:auto;
}
#partner-deals #jvm-navlist a, .copy-2017 a{
	color: #FFF;
}
.jvm-pad .fa {
	padding:10px;
}
.jvm-flot .dropdown-menu {
	right: 0;
	left:auto;
}
.header-content .nav-tabs {
	border: 1px solid #99aec9;
	width: 25%;
	margin: 5.5% auto 2.5% auto;
}
.header-content .tab-content {
	color: #fff;
}
.header-content .nav-tabs > li,.header-content .nav > li > a:focus, .header-content .nav > li > a:hover{background: rgba(0, 0, 0, 0.7);}
.header-content .nav-tabs > li.active > a, .header-content .nav-tabs > li.active > a:focus,.header-content .nav-tabs > li.active > a:hover {
	color: #fff;
	background-color: #991813;
	border: 1px solid #991813;
}
.header-content .nav-tabs > li > a:hover {
	border-color: #171A18 #171A18;
	background-color: #981713;
}
.header-content  .nav-tabs > li > a {
	margin-right: 0;
	border-radius: 0;
	color:#fff;
}
.header-content .nav > li > a {
	padding: 8px 15px;
	font-size: 20px;
	font-weight:500;

}
.header-content .nav-tabs > li {
	width: 50%;
	margin-bottom: 0px;
}

#header-myModal h3,#login-myModal h3 {
	font-size: 22px;
	font-family: "SourceSemiBold";
	margin-left: 10px;
}
#demo p {
	background-color: #fff;
	width: 200px;
	padding: 5px 10px;

}
.jvm-pad .open > .dropdown-toggle.btn-default:focus,.jvm-pad .open > .dropdown-toggle.btn-default:hover,.jvm-pad .open > .dropdown-toggle.btn-default:active{
   font-size: 16px;
	font-weight: 700;
	background-color: #981713;
	color:#fff;
}
#jvm-recently h2,#partner-deals h2{
	color:#fff;
	padding: 15px 0;
	font-size: 25px;
}
.header-content input {
	padding:7px 15px;
	width: 600px;
	font-size: 20px;
	background: rgba(0,0,0,0.7);
	color: #fff;
	border-color:#99aec9;
	border-style: solid solid;
	border-width: 0.04px 0px 0.04px 0.04px;
}
.rect-p,.rect-info ul li span {
	font-size: 11px;
	font-weight: bold;
	color:#C7C7C7;
}
.rect-extrainfo p strong {
	font-size: 16px;
}
.rect-inner h3 {
	background-color: #F3F3F3;
	padding: 25px 15px;
	font-size: 18px;
	font-family: "SourceBold";
}
.rect-extrainfo {
	padding-bottom: 8px;
}
.search-box {
	padding: 9.5px 35px;
	margin-bottom: 8px;
	font-size: 16px;
	border-radius: 0 4px 4px 0;
	background-color: #981713;
	font-weight: bold;
}
.btn.search-box:hover {
	color: #fff;
}
.arrow-down {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #981713;
	position: absolute;
	left: 45%;
	z-index: 1;
}
.arrow-down2{
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #99aec9;
	position: absolute;
	left: 45%;
	top: 47px;
}
.header-content ul li .arrow-down,.header-content ul li .arrow-down2 {
	display: none;
}
.nav-tabs li:active .arrow-down,.nav-tabs li:focus .arrow-down,
.nav-tabs li:active .arrow-down2,.nav-tabs li:focus .arrow-down2{
	display: block;
}
.rect-info {
	padding: 10px 20px;
}
.rect-info h4 {
	font-family: "SourceBold";
	padding: 10px 0;
}
.why-us-position .img-responsive {
	width: 140px;
	margin: 0 auto;
}
.rect-info .list-inline > li:last-child {
	font-family: "SourceSemiBold";
}
#sp-two .item ul{
	margin: 0 0 5px;
}
.rect-info .list-inline > li:first-child {
	width: 100px;
}
.rect-info ul li img {
	width: 15px !important;
	float: right;
	margin: 0 0px 0 20px;
}
.rect-info .list-inline > li {
	width:auto;
	padding-left: 0px;
}
#header-myModal .modal-dialog {
	width: 855px;
}
#header-myModal .modal-header,#login-myModal .modal-header {
	background-color:#991813;
	color: #fff;
	padding: 10px 15px;
}
.rect-inner,.why-us-inner {
	background-color: #fff;
}
.jvm-pad .btn-default.active,.jvm-pad .btn-default:active,.jvm-pad .open > .dropdown-toggle.btn-default {
	border-color: #981713;
}
#header-myModal .modal-header .close,#login-myModal .modal-header .close {
	background-color: #991813;
	padding: 0px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 25px;
	width: 25px;
	line-height: 0.8;
	color: #fff;
	opacity: 1;
}
#header-myModal .close , #login-myModal .close{
	font-size: 90%;
	color: #fff;
	opacity: 1;
	font-weight: 700;
}
#why-us h3 {
	color: #fff;
	padding: 30px 0;
	font-weight: 600;
	font-size: 26px;
}
.why-us-inner {
	height: 526px;
}
.why-us-position h4 {
	padding: 10px 0;
	font-size: 20px;
	font-family: "SourceBold";
}
.why-us-content  li:before{
   width: 15px;
   content: "";
   display: inline-block;
   height: 15px;
   background: #FFF url('../images/tttick.png') no-repeat 100% 100% / 15px auto;
   position: absolute;
   left: 8px;
   top: 6px;
}
.why-us-content li {
	font-size: 16px;
	padding: 0px 30px;
	position: relative;
	margin-bottom: 10px;
	font-family: "SourceSemiBold";
}
.why-us-content {
	padding-top: 20px;
}
.why-us-content .img-responsive{
	display: inline-block;
}
.why-us-position.text-center {
	padding-top: 25px;
}
#partner-deals hr{
	margin-top: 10px;
	margin-bottom:0px;
	border: 0;
	border-top: 1px solid #F4F4F0;
	padding: 10px;
}
#jvm-navlist,.copy-2017{color:#fff;}
.copy-2017 {
	text-align: right;
}
#jvm-navlist li {
	margin-right: 20px;
}
.feedback-property{
	width: 310px;
    height: 100px;
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
}
#feedback-inner,#property-inner {
	background-color: #fff;
	color: #000;
	padding: 10px 20px;
}
#feedback-inner h3 {
	color: #9A1714;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
}
#feedback-inner p {
	padding: 10px 10px 15px 10px;
}
.login-checkbox .checkbox-custom,#feedback-inner .radio-custom,#login-r-button .radio-custom{
    opacity: 1;
    position: absolute;
}
.login-checkbox .checkbox-custom,.login-checkbox .checkbox-custom-label,#feedback-inner .radio-custom,
#feedback-inner .radio-custom-label #login-r-button.radio-custom,#login-r-button .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
    color: #8C8C8C;
}
.login-checkbox .checkbox-custom-label,#feedback-inner .radio-custom-label,#login-r-button .radio-custom-label{
    position: relative;
}
#feedback-inner .radio-custom + .radio-custom-label:before,
#login-r-button  .radio-custom + .radio-custom-label:before  {
    content: '';
    background: #fff;
    border: 1px solid #B1B1B1;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.login-checkbox .checkbox-custom{
	display: none;
}
.login-checkbox .checkbox-custom + .checkbox-custom-label:before{
	content: '';
    background: #fff;
    border: 1px solid #B1B1B1;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    background-size: 16px;
    text-align: center;
}
.login-checkbox .checkbox-custom:checked + .checkbox-custom-label:before {
    box-shadow: inset 0px 0px 0px 4px #fff;
    background-image: url("../images/tttick.png");
}
#feedback-inner .radio-custom + .radio-custom-label:before,#login-r-button .radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}
#feedback-inner .radio-custom:checked +  .radio-custom-label:before,
#login-r-button .radio-custom:checked +  .radio-custom-label:before {
    background: #9A1714;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
 #feedback-inner input[type="radio"] {
	display: none;
}
 #feedback-inner .form-control {
	font-size: 15px;
	color:black;
	background-color: #EBEBEB;
	border:none;
	box-shadow: none;
	border-radius: 0px;
}
#feedback-inner {
	widows: 80%;
	margin: 0 auto;
	background: #FFF;
	position: relative;
}
#set-alert,#set-alert1{
	background-color: #831017;
	color: #fff;
	font-size: 18px;
	padding: 14px 0;
}
#set-alert1,#set-alert2{
	width: 100%;
}
#set-alert2 {
	padding: 6px 50px;
	border: none;
	border-radius: 5px;
	font-size: 18px;
	background-color: #991813;
	color:#fff;
	margin-bottom: 5px;
}
.feedback-sidebox img {
	position: absolute;
	right: -32px;
	top: 0;
}
#header-myModal #login-r-button input[type="radio"]{display: none;}
 .login-ppl .modal-footer {
	border-top: 0px solid #e5e5e5;
}
.login-model-form .form-control {
	border-width:0 0 1px 0;
	border-style:solid;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	box-shadow: inset 0 0px 0px rgba(0,0,0,0);
	padding: 6px 0px;
	font-size: 15px;
	font-family: "SourceSemiBold";
}
.login-model-form  .form-group {
	margin-bottom: 25px;
}
.login-model-form {
	margin-top: 40px;
}
.vjv-account-p1 {
	color: #000;
	font-size: 13px;
}
.vjv-account-p2 {
	color: #797979;
	font-size: 13px;
}
.vjv-account-p2 a,.login-model-p a {
	color: #991813;
}
.new-account-rightpart li {
	color: #383838;
	font-size: 13px;
	padding-bottom: 7.5px;
	font-family: "SourceSemiBold";
}
.new-account-image img {
	height: 263px;
}
.new-account-rightpart ul {
	list-style: inside none disc;
}
.login-model-p {
	text-align: right;
}
.login-checkbox {
	margin-bottom: 30px;
}
#login-myModal .new-account-image {
	margin-top: 55px;
	padding: 0 15px;
}
#login-myModal  .form-group {
	margin-bottom:35px;
}
#login-myModal .modal-footer {
	border-top: 0px solid #e5e5e5;
}
.feedback-smile {
	max-width: 260px;
	margin: 0 auto;
	padding-top: 22%;
}
#post-ads .post-ad-pad > ul > li {
	color:#656565;
	float: left;
	padding: 0 15px;
	font-weight: bold;
	font-size: 15px;
	line-height: 5;
}
.post-header {
	background-color: #ddd;
	height: 90px;
	padding: 0 25px;
}
.list-inline.post-profile li:first-child {
	margin-right: 10px;
}
/* SANTHOSH CODE */
#social_icons{
	position: fixed;
	right: 10px;
	top: 30%;
	z-index: 9;
}
a:focus,a:visited{
	outline: 0px;
	text-decoration: none;
}
.animate_div_click{
	position: fixed;
	top: 20%;
	left: -400px;
	width: 400px;
}
.animate_div_click img{
	display: block;
	position: absolute;
	right: -26px;
}
.property_alert.animate_div_click img{
	top: 20%;
}
.feedback_alert.animate_div_click img{
	top: 55%;
}
/*SHASHIMSHA NEW CODE*/
#post-ads .post-ad-pad > ul > li {
	color:#656565;
	float: left;
	padding: 0 15px;
	font-weight: bold;
	font-size: 15px;
	line-height: 5;
}
.post-header {
	background-color: #ddd;
	height: 90px;
	padding: 0 25px;
}
.list-inline.post-profile li:first-child {
	margin-right: 10px;
}
.post-ad-inner {
	background-color: #eee;
	height: auto;
	padding: 15px 0 25px 0;
}
.post-ad-inner .post-req {
	float: right;
}
.post-ad-details {
	background-color: #fff;
	width: 80%;
	margin: 0 auto;
}
.list-inline.post-border {
	padding: 20px 10px;
}
.post-color{
	color: #991813;
	font-weight: 700;
	font-size: 22px;
}
.post-ad-inner .post-req{background-color: #991813;border-radius: 5px;}
.post-ad-inner .post-req .btn-default {
	color: #333;
	background-color: #991813;
	border-color: #991813;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
}
.post-ad-details .container {
	width: 100%;
}
.property-content hr{margin:0;}
.property-content p {
	margin-left: 25px;
	background-color: #811219;
	width: 155px;
	padding: 2px 5px;
	color: #fff;
	font-size: 16px;
	border-radius: 0 0 5px 5px;
	word-spacing: 5px;
}
.post-form {
	padding: 20px 10px;
	width: 100%;
}

.post-form label{font-size: 13px;}
.post-form .bootstrap-select.btn-group:not(.input-group-btn), .post-form .bootstrap-select.btn-group[class*="col-"] {
	display: block;
}
.post-form .form-group {
	margin-bottom:60px;
}
.requirement-span {color:red;}
.post-form .btn {
	border: 2px solid #ddd;
	border-radius: 0;
}
.post-form .form-control:focus {
	border-color: #ddd;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075),0 0 0px rgba(102,175,233,.6);
}
.post-form .message-something{margin-bottom:30px;}
.property-content {
	border-top: 1px solid #ddd;
}
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
	width:100%;
}
.post-iframe iframe {
	width: 100%;
	margin-bottom: 30px;
}
.post-form #address{
	border-radius: 0px;
}
.property-photo .photoupload {
	background-color:#EBEBEB;
	padding: 10px 30px 0;
	position: relative;
}
.property-photo .photoupload li {
	width: 14%;
	background-color: #fff;
	height: 130px;
	margin-right: 23px;
	border: 2px dotted #ddd;
	padding: 0;
}
.photoupload label {
	color: #fff;
	height: 124px;
	width: 100%;
}
.photoupload-absolute {
	top:45%;
	position: absolute;
	color:#fff;
	text-align: center;
	width: 12.2%;
}
.photoupload p{
	text-align:right;
	margin-bottom: 15px;
	font-weight: bold;
	 }
.main-photo{
	text-align: justify;
	width: 100%;
	padding: 0 17px;
	text-align-last: center;
}
.photoupload .fa-3x{
	font-size: 3em;
	position: absolute;
	width: 12.2%;
	text-align: center;
}
.photoupload #fileupload ,#fileupload-1,#fileupload-2,#fileupload-3,#fileupload-4,#fileupload-5,#fileupload-6,
#fileupload-7,#fileupload-8,#fileupload-9{
	visibility: hidden;
}
.photoupload .fileupload{background-color: #811219;}
.file-11{color:#fff;top: 64px;}
.file-1,.file-2,.file-3,.file-4,.file-5,.file-6,.file-7,.file-8,.file-9{color:#811219;top:42%;}
.photoupload ul{
	width: 100%;
	margin:0 auto;
}
.contact-details .form-control {
	background-color: #EBEBEB;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 0px;
	-webkit-box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075);
	font-weight: 600;
}
.contact-details .form-group {
	margin-bottom: 0;
	margin-right: 25px;
}
.tems-rules {
	color: #939393;
	font-weight: 600;
}
.tems-rules a {
	color: #811219;
	font-weight: 600;
}
.contact-submit,.contact-cancel {
	font-weight: bold;
	padding: 5px 43px;
	font-size: 19px;
	border-radius: 5px !important;
	border: 0 !important;
}
.contact-submit,.contact-submit:hover{
	background-color: #991813;
	color: #fff;
}
.contact-cancel,.contact-cancel:hover{
	background-color: #EBEBEB;
	color:#999999;
}
.btn.contact-submit.preview {
	float: right;
}
#footer-menu {
	background-color: #841118;
	padding: 10px 20px;
}
.combine-input-select input,.combine-input-select select {
	padding: 6px 25px 6px 12px;
	border: 2px solid #ddd;
}
.combine-input-select  > li {
	display: inline-block;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: -5px;
}
.combine-input-select .bootstrap-select > .dropdown-toggle {
	width: 100%;
	padding-right: 25px;
	z-index: 1;
	background-color: #ddd;
}
#post-ads .bootstrap-select.btn-group .dropdown-toggle .filter-option,#post-ads .bs-caret{color:#919191;}
#comment1 {
	border-radius: 0;
	border: 2px solid #ddd;
	box-shadow: inset 0 0px 0px rgba(0,0,0,.075)
}
.form-group.form-marg {
	margin-bottom: 30px;
}
.append_area ul {
	width:550px;
	position: absolute;
}
.append_area {
	margin-bottom: 50px;
}
.append_area ul li {
	background: #EBEBEB;
	margin-top: 5px;
	color: #000;
	padding: 10px;
	font-size: 15px;
	width: 135px;
	display: inline-block;
	margin-right: 10px;
}
.location-pad-doun {
	padding-bottom: 130px;
}
.post-ad-pad i {
	margin-right: 8px;
}
.append_area ul li div{
	position: relative;
}
.append_area ul li div span{
	position: absolute;
	right: 0px;
	color: #525252;
	margin:-10px -5px;
}
.contat-pad {
	padding-bottom: 20px;
}
/* 09-03-2017 */
footer#inner_footer{
	background: #981814;
	color: #FFF;
	font-family: "SourceSemiBold";
}
footer#inner_footer ul{
	margin: 0;
	padding: 0;
}
footer#inner_footer li a{
	color: #FFF;
	padding:10px 0;
	display: inline-block;
}
footer#inner_footer li{
	display: inline-block;
	padding: 0 15px;
}
footer#inner_footer ul.text-left li:first-child{
	padding: 0 15px 0 0;
}
footer#inner_footer ul.text-right li:last-child{
	padding: 0 0 0 15px;
}
section#property_detail_section{
	padding: 20px 0;
	background: #e1e1e1;
}
.plot_img_section figure{
	position: relative;
	color: #FFF;
}
.plot_img_section figcaption{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 20px;
	width: 100%;
}
.favor_heart{
	position: absolute;
	top: 20px;
	right: 10px;
	z-index: 1;
	cursor: pointer;
	width: 30px;
	height: 30px;
	border-radius: 100%;
	text-align: center;
	line-height: 30px;
	background: #841117;
}
.plot_img_section ul{
	margin: 0;
	padding: 0;
}
.plot_img_section li h3{
	font-weight: 900;
	margin: 0 0 7px;
}
ul.site_gallery{
	margin: 0;
	display: inline-block;
}
ul.site_gallery li{
	width: 60px;
	height: 60px;
	float: left;
	margin: 0 5px 5px 0;
	border: 1px solid #FFF;
}
ul.site_gallery img{
	max-width: 100%;
}
ul.site_gallery li.special_load{
	background: #303030;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	padding: 0 10px;
	cursor: pointer;
}
.rating_list li{
	vertical-align: top;
}
.rating_list li i{
	display: inline-block;
	padding: 0 2px;
}
.cmmn_white_bg{
	background: #FFF;
}
.user_short_cuts{
	display: inline-block;
}
.user_short_cuts{
	margin: 0;
	padding: 0;
}
.user_short_cuts li{
	padding: 0;
	margin: 0;
}
.property_main_left article, .property_main_left .plot_detail_content{
	padding: 15px;
	color: #373737;
}
.property_main_left article{
	border-bottom: 1px solid #af2831;
}
.property_main_left .cmmn_white_bg:not(:last-child){
	margin: 0 0 15px;
}
.property_main_left p{
	text-align: justify;
	line-height: 22px;
	word-spacing: 3px;
}
.plot_detail_content table tr td{
	padding: 4px 0;
	vertical-align: top;
}
.plot_detail_content table tr button.spl{
	color: #000;
	width: 100%;
	font-family: "SourceSemiBold";
	margin: 0 0 0 10px;
	padding: 2px;
	border: 0;
	border-radius: 5px;
	background: #ebebeb;
	border: 1px solid #acacac;
}
.plot_detail_content .document-section{
	text-align: center;
	min-height: 100px;
	color: #6e6e6e;
	font-size: 15px;
}
.plot_detail_content .document-section img{
	max-width: 30px;
}
.plot_detail_content .document-section figure{
	width: 60px;
	height: 60px;
	border:1px solid #CCC;
	border-radius: 100%;
	margin: 0 auto;
	line-height: 50px;
}
.morecontent span {
    display: none;
}
.plot_detail_content .custom_checkbox{
	opacity: 0;
	position: absolute;
}
.plot_detail_content .custom_checkbox, .plot_detail_content .custom_checkbox_label{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
.plot_detail_content .custom_checkbox_label{
	position: relative;
	font-weight: normal;
	color: #6e6e6e;
}
.custom_checkbox + .custom_checkbox_label:before{
    content: '';
    background: #fff;
    border: 1px solid #6e6e6e;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    border-radius: 5px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
}
.custom_checkbox:checked + .custom_checkbox_label:before {
    content: "\2714";
    background: #841118;
    border-color: #841118;
    color: #fff;
    font-weight: 700;
    font-size: 11px;
}
.similar_search > li, .property_detail_right .title_box {
	padding: 15px 10px;
}
.similar_search > li:not(:last-child){
	border-bottom: 1px solid #acacac;
}
.title_box{
	color: #000;
	background: #f7f7f7;
}
#property_detail_section .less_pad{
	padding: 0 15px 0 0;
}
.similar_search li a{
	font-family: "SourceSemiBold";
	font-size: 18px;
	color: #000;
}
.similar_search li .row div > div{
	padding: 3px 0;
}
.similar_search li h5{
	font-size: 16px;
	color: #000;
}
.display_check_none input{
	display:none;
}
.display_check_none label{
	font-weight:normal;
}
.simple_list li{
	padding: 15px 10px;
}
.simple_list li + li{
	border-top: 1px solid #acacac;
}
.simple_list .read_more_btn,.simple_list h4, .title_box h4{
	font-family: "SourceSemiBold"
}
.simple_list .read_more_btn{
	display: inline-block;
	margin: 20px 0 0;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
}
.simple_list li p{
	color: #841118;
	margin: 5px 0 0;
	font-weight: 500;
}
#result_page_section{
	padding: 20px 0;
	background: #e1e1e1;
}
#result_page_section .white_bg_color{
	background: #FFF;
}
.filer_section{
	padding: 7px 5px;
}
.filer_section .same_btn_list{
	display: block;
	padding: 7px 2px;
	text-align: center;
	font-weight: 700;
	border-radius: 5px;
}
.filer_section #apply{
	color: #FFF;
	background: #841118;
}
.filer_section #more_filter, .filer_section #reset{
	color: #636363;
}
.filer_section #more_filter{
	background: #ebebeb;
}
.filer_section #reset{
	background: #ebebeb url('../images/reset.png')no-repeat 20% 50%;
	background-size: 10px;
}
.filer_section .row{
	margin: 0 -4px;
}
.filer_section .less_pad_custom{
	padding: 0 4px;
}
.filer_section .border_div{
	border-radius: 5px;
	border: 1px solid #999999;
	height: 33px;
}
.filer_section .border_div select{
	background: #f4f4f4 url('../images/icons/down_angle.png')no-repeat 90% 50% / 10px auto;
	border-radius: 5px 0 0 5px;
	border: 0;
	height: 31px;
	width: 20%;
	padding: 0;
	margin: 0;
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
}
.filer_section .border_div input{
	border:none;
	height: 31px;
	padding: 0;
	margin: 0;
	width: 70%;
	border-right: 1px solid #acacac;
}
.filer_section .border_div button{
	height: 31px;
	border:none;
	width: 20px;
	background: none;
	margin: 0;
	color: #999999;
}
.main_result{
	padding: 10px 0
}
#map_look_good{
	padding: 5px;
}
#map_result,#map{
	width: 100%;
	border-radius: 10px;
	height: 450px;
}
.result_right_section .white_bg_color{
	background: #FFF;
}
.main_result .less_padding{
	padding: 0 15px 0 0;
}
.result_right_section .title_box_sort{
	background: #f7f7f7;
	padding: 10px;
}
.result_right_section .title_box_sort h4{
	color: #828282;
	font-size: 115%;
	font-family: "SourceSemiBold";
	margin: 5px 0;
}
.result_right_section .title_box_sort h4 span{
	font-family: "SourceBold";
	color: #000;
	display: inline-block;
	margin: 0 0 0 4px;
}
.result_listing > ul {
	max-height: 470px;
	overflow: auto;
}
.result_listing > ul  > li{
	padding: 15px;
}
.result_listing > ul  > li + li{
	border-top: 1px solid #acacac;
}
.result_listing a{
	font-size: 20px;
	color: #000;
	font-family: "SourceSemiBold";
	display: block;
	margin: 0 0 3px;
}
.result_listing p{
	color: #8a8a8a;
	padding: 0 0 0 20px;
	position: relative;
	margin: 0 0 2px;
	text-transform: uppercase;
}
.result_listing p:before{
	content: "";
	width: 16px;
	height: 16px;
	position: absolute;
	left: 0;
	display: inline-block;
}
.result_listing p.location:before{
	content: "";
	background: #FFF url('../images/icons/map.png')no-repeat 0 0;
	top: 2px;
	background-size: 10px;
}
.result_listing p.space:before{
	content: "";
	background: #FFF url('../images/icons/site.png')no-repeat 0 0;
	background-size: 15px;
	top: 5px;
}
.result_listing p.price_tag:before{
	content: "";
	background: #FFF url('../images/icons/price-tag.png')no-repeat 0 0;
	background-size: 14px;
	top: 5px;
}
.result_listing .center_result div{
	padding: 2px 0;
}
.result_listing h4{
	color: #373737;
	font-size: 16px;
}
.post_date h5{
	color: #6d6d6d;
	font-size: 90%;
	margin: 5px 0 0;
}
.contact_logo_btn{
	border:none;
	box-shadow: none;
	display: inline-block;
	padding: 5px 20px;
	color: #FFF;
	background: #981814;
	border-radius: 5px;
	font-family: "SourceBold";
}
.result_listing .right_result{
	padding: 140px 0 0;
}
.result_listing figure img{
	width: 140px;
	height: 140px;
}
.favour_btn{
	display: inline-block;
	border-radius: 100%;
	text-align: center;
	padding: 5px 10px;
	border:none;
	background: #cecece;
	color: #FFF;
}
.white_bg_color#contact_form{
	padding: 20px;
}
.white_bg_color#contact_form form{
	background: #f5f5f5;
	padding: 40px 30px;
	margin: 0 20px;
}
.white_bg_color#contact_form .form-control{
	box-shadow: none;
	border: 0;
	border-radius: 0;
	font-size: 15px;
}
.white_bg_color#contact_form input.form-control{
	height: 42px;
}
.contact_form_start h6{
	font-size: 20px;
	cursor: pointer;
	display: inline-block;
	margin: 0 0 5px;
	color: #999999;
}
.contact_form_start > div > h5{
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 22px;
	margin: 0 0 20px;
	color: #981814;
}
.contact_form_start .submit_full_btn{
	color: #FFF;
	font-weight: 700;
	display: block;
	background: #981814;
	border:none;
	padding: 10px;
	font-size: 16px;
	width: 100%;
}
.contact_form_start .form-group:last-child{
	margin: 0;
}
.sort_by_select label{
	font-weight: 600;
	display: inline-block;
	color: #5a5959;
}
.sort_by_select select{
	background: #FFF url("../images/icons/down_angle.png") no-repeat scroll 90% 50% / 10px auto;
	border:1px solid #b7b7b7;
	border-radius: 5px;
	padding: 2px 5px;
	font-family: "SourceSemiBold";
	width: 100px;
	-moz-appearance:none;
	-webkit-appearance:none;
	-o-appearance:none;
	-ms-appearance:none;
	appearance:none;
}
.similar_search li p{
	font-size: 12px;
	color: #8a8a8a;
	text-transform: uppercase;
	margin: 0 0 2px;
	padding: 0 0 0 20px;
	position: relative;
}
.similar_search li p:before {
    content: "";
    display: inline-block;
    height: 16px;
    left: 0;
    position: absolute;
    width: 16px;
}
.similar_search li p.location:before {
    background: #fff url("../images/icons/map.png") no-repeat scroll 0 0 / 8px auto;
    content: "";
    top: 2px;
}

.similar_search li  p.space:before {
    background: #fff url("../images/icons/site.png") no-repeat scroll 0 0 / 15px auto;
    content: "";
    top: 5px;
}
.similar_search li p.price:before {
    background: #fff url("../images/icons/price-tag.png") no-repeat scroll 0 0 / 12px auto;
    content: "";
    top: 0;
}
.cmmn_white_bg.before_login_documents{
	background: #fffce9;
}
.before_login_list{
	text-align: center;
}
.before_login_list h5{
	font-weight: 700;
	font-size: 15px;
}
a.login_button{
	display: inline-block;
	margin: 0 5px 0 0;
	color: #FFF;
	background: #981814;
	padding: 6px 20px;
	border-radius: 5px;
}
a.login_button:hover{
	text-decoration: none;
}
.cmmn_white_bg.before_login_documents.map_before .plot_detail_content{
	padding: 30px;
}
/* HAMBERGER MENU */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    font-family: "SourceBold";
    display: block;
    transition: 0.3s
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.nav_bar_link button.dropdown-toggle{
	background: #841118;
	color: #FFF;
	font-weight: 700;
	padding: 6px 25px;
}
#feedback-inner .sa-custom-label{
    position: relative;
}
#feedback-inner .sa-custom{
    display: none;
    position: absolute;
}
#feedback-inner .sa-custom, #feedback-inner .sa-custom-label{
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
}
#feedback-inner .sa-custom + .sa-custom-label:before{
    content: '';
    background: #fff;
    border: 1px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
    border-radius: 50%;
}
#feedback-inner .sa-custom:checked + .sa-custom-label:before{
    background: #9A1714;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
/* 23-03-2017 */
.animated-image {
    bottom: 20px;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%);
}
.box {
    border: 2px solid #fff;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    height: 40px;
    margin: 0 auto;
    position: relative;
    width: 23px;
}
#divAnimate {
    animation: 2s ease 0s normal none infinite running movingDot;
    background-color: #fff;
    cursor: pointer;
    height: 8px;
    left: 50%;
    margin-top: 5px;
    position: absolute;
    top: 5px;
    transform: translateX(-50%);
    width: 3px;
}
@keyframes movingDot {
	75% {
	    opacity: 0.6;
	}
	100% {
	    opacity: 0.1;
	}
	0% {
	    top: 0;
	}
	100% {
	    top: 20px;
	}
}
@keyframes movingDot {
	0% {
	    top: 0;
	}
	100% {
	    top: 20px;
	}
	75% {
	    opacity: 0.6;
	}
	100% {
	    opacity: 0.1;
	}
}
/* 24-03-2017 */
.tooltip > .tooltip-inner {
    background: #841118;
    opacity: 1;
    border-radius: 0;
}
.tooltip.bottom > .tooltip-arrow{
	border-bottom: 5px solid #841118;
}
.user_short_cuts span{
	display: inline-block;
	width: 27px;
	height: 27px;
	background: #FFF url('../images/icon_shorts.png')no-repeat 0 0;
	background-size: 90px;
	cursor: pointer;
}
.user_short_cuts li.print span{
	background-position: 0 0;
}
.user_short_cuts li.pdf span{
	background-position: -31px 0;
}
.user_short_cuts li.phone span{
	background-position: -62px 0;
}
.userMenuDropdown{
	border: 0;
	border-radius: 0;
	margin: 10px 0 0;
}
.section_bg_color{
	background: #e1e1e1;
	padding: 20px 0;
}
#myDashBoardHome .container > .row{
	margin: 0;
}
#myDashBoardHome .container > .row > div{
	padding: 0;
}
.white_bg_color{
	background: #FFF;
}
.dashBoard_left_content{
	min-height: 100vh;
}
.dashBoard_Right_content{
	background: #f3f5f7;
}
.dashBoard_left_content .user_description{
	padding: 20px 0;
	text-align: center;
}
.dashBoard_left_content figure > img{
	width: 120px;
	height: 120px;
	border-radius: 100%;
}
.file_hidden{
	display: none !important;
}
.dashBoard_left_content figure{
	position: relative;
}
.dashBoard_left_content figure figcaption{
	position: absolute;
	top: 50%;
	right: 15%;
	cursor: pointer;
	transform: translate(-50%,15%);
}
.dashBoard_left_content .user_description h3{
	color: #841118;
	letter-spacing: 1px;
	margin: 15px 0 5px;
	text-transform: capitalize;
}
.custom_tab_section li{
	font-size: 130%;
	cursor: pointer;
	padding: 10px 0 10px 40px;
	list-style-type: none;
	text-transform: uppercase;
	border-left: 3px solid #FFF;
	font-family: "SourceSemiBold";
	color: #959595;
	margin: 10px 0;
}
#profile_tab li.active,#profile_tab li:hover{
	border-left: 3px solid #841118;
	transition: all 0.3s ease;
}
#profile_tab li img {
    display: inline-block;
    margin: 0 10px 0 0;
    opacity: 0.21;
}
#profile_tab li:hover, #profile_tab li.active{
	color: #000;
}
#profile_tab li.active img,#profile_tab li:hover img{
	opacity: 1;
	transition: all 0.3s ease;
}
.cursor{
	cursor: pointer;
}
.profile_tab_content article.common_padding{
	padding: 40px;
}
.profile_tab_content article > main, .my_favourite_list > li > div.favour_div_box,
.my_property_list li > div {
	box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.35);
}
.profile_tab_content article > main + main{
	margin: 40px 0 0;
}
.profile_tab_content article > main > div{
	padding: 25px 20px;
}
.profile_tab_content article > main > div + div{
	border-top: 1px solid #b7b7b7;
}
.user_content_table{
	width: 100%;
	font-size: 115%;
}
.user_content_table tr td:first-child{
	width: 40%;
}
.user_content_table p{
	display: inline-block;
	min-width:200px;
	background: #f1f1f1;
	padding: 5px 10px;
	border-radius: 5px;
	cursor: pointer;
}
.user_content_table tr + tr div{
	margin: 20px 0 0;
}
.user_content_table td span{
	background: #d6d6d6;
    border: 0;
    margin: 0 -5px 0 0;
    font-family: "SourceSemiBold";
}
.user_content_table td span + p{
	border-radius: 0 5px 5px 0;
}
.custom_form .form-control{
	border-radius: 0;
	box-shadow: none;
}
.custom_form.less_width_form .form-control{
	width: 40%;
}
.logo_btn{
	color: #FFF;
	background: #841118;
}
.logo_btn,.cancel_btn{
	border-radius: 5px;
	display: inline-block;
	padding: 5px 20px;
	border:none;
	font-family: "SourceSemiBold";
	text-transform: uppercase;
	font-size: 110%;
}
.profile_tab_content article > main .frm_grp + .frm_grp{
	margin: 20px 0 0;
}
.profile_tab_content article > main .frm_grp label{
	padding: 5px 0;
}
.profile_tab_content article > main .min_height{
	min-height: 60vh;
}
.my_favourite_list,.my_property_list{
	display: inline-block;
	margin: 0 -10px;
	width: 100%;
}
.my_favourite_list > li, .my_property_list > li{
	padding: 10px;
	float: left;
	display: block;
	width: 33.33%;
}
.my_favourite_list > li > div{
	position: relative;
}
.my_favourite_list > li > div:after{
	content: "";
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.60);
	opacity: 0;
	transition: opacity 0.7s ease;
}
.my_favourite_list > li > div > div{
	padding:10px 10px 20px;
}
.my_favourite_list > li .property_name_box{
	background: #f3f3f3;
}
.my_favourite_list > li .propert_detail_box > div + div{
	margin: 10px 0 0;
}
.my_favourite_list > li .propert_detail_box > div p{
	font-size: 70%;
	text-transform: uppercase;
	color: #8a8a8a;
}
.my_favourite_list > li .propert_detail_box > div h5{
	font-size: 110%;
}
.remove_btn{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	border:none;
	border-radius: 20px;
	background: #959595;
	color: #d4d4d4;
	font-family: "SourceSemiBold";
	font-size: 110%;
	padding: 5px 20px;
	opacity: 0;
	transition: opacity 0.7s ease;
}
.my_favourite_list > li:hover > div:after,
.my_favourite_list > li:hover .remove_btn{
	opacity: 1;
	transition: opacity 0.7s ease;
}
.pagination_list{
	text-align: right;
	padding: 10px 20px;
}
.pagination_list > li{
	display: inline-block;
}
.pagination_list > li a:hover{
	text-decoration: none;
}
.pagination_list  li:first-child a, .pagination_list  li:last-child a{
	background: #981814;
	color: #FFF;
	border-radius: 5px;
	padding: 5px 10px;
}
.pagination_list  li + li:not(:last-child) a{
	color: #981814;
	background: #FFF;
	font-family: "SourceSemiBold";
	font-size: 110%;
	border-radius: 50%;
	display: inline-block;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 28px;
}
.if_empty img{
	max-width: 100%;
}
.if_empty h4{
	margin: 10px 0;
}
.if_empty h4 a{
	color: #981814;
}
.my_property_list li figure{
	display: block;
	width: 100%;
	height: 150px;
	position: relative;
}
.my_property_list li figure > img{
	width: 100%;
	height: 150px;
}
.my_property_list li figure figcaption{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	opacity: 0;
	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
}
.my_property_list li:hover figure figcaption,
.my_property_list li:hover figure:after{
	opacity: 1;
	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
}
.my_property_list li figure:after{
	width: 100%;
	height: 100%;
	position: absolute;
	content: '';
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.60);
	opacity: 0;
	transition: opacity 0.5s ease;
	-moz-transition: opacity 0.5s ease;
	-webkit-transition: opacity 0.5s ease;
	-o-transition: opacity 0.5s ease;
	-ms-transition: opacity 0.5s ease;
}
.my_property_list li figure figcaption li a{
	display: inline-block;
	border-radius: 20px;
	background: #959595;
	color: #FFF;
	font-family: "SourceSemiBold";
	font-size: 110%;
	padding: 3px 10px;
	min-width: 80px;
}
.my_property_list li figure li a:hover{
	text-decoration: none;
}
.my_property_list li figure .badge_class{
	position: absolute;
	top: 20px;
	left: -15px;
	display: inline-block;
	padding: 3px 10px;
	color: #FFF;
	z-index: 1;
	border-radius: 20px;
}
.my_property_list li figure .red_badge{
	background: #841118;
}
.my_property_list li figure .green_badge{
	background: #005826;
}
.my_property_list li figure .selected{
	position: absolute;
	bottom: -10px;
	left: 50%;
	z-index: 1;
}
.my_property_list li > div > div{
	padding: 15px 10px;
}
.site_details_table tr td:first-child{
	text-transform: uppercase;
	color: #8a8a8a;
	font-size: 75%;
	padding: 5px 2px 5px 0;
}
.site_details_table tr td{
	vertical-align: top;
	padding: 5px 0;
}
.site_details_table tr td.color_location:before{
	content: '';
	width: 11px;
	height: 11px;
	display: inline-block;
	background: #FFF url('../images/location.png') no-repeat 0 0 / 7px auto;
	margin: 0 0 0 10px;
}
.site_details_table tr td.color_area:before{
	content: '';
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #FFF url('../images/area.png') no-repeat 0 0 / 10px auto;
	margin: 0px 4px 2px 8px;
}
#requirement_list{
	margin: 10px 0;
	padding: 20px;
}
#requirement_list ul{
	display: inline-block;
	width: 100%;
	margin: 0 -10px;
}
#requirement_list ul > li{
	width: 33.33%;
	float: left;
	box-sizing: border-box;
	padding: 10px;
}
#requirement_list ul > li > div{
	box-shadow: 0 1px 16px rgba(0, 0, 0, 0.35);
}
/* APRIL CODE */
.right{
	text-align: right;
}
.result_listing h4.project_title {
	font-size: 140%;
}
.result_listing h6{
	color: #6d6d6d;
	font-size: 105%;
}
.property_detail_table{
	width: 100%;
	margin: 15px 0 0;
}
.property_detail_table h5{
	color: #8a8a8a;
	margin: 0 0 5px;
}
.property_detail_table h4{
	font-size: 120%;
}
.property_detail_table + ul{
	margin: 15px 0 0;
}
.result_listing .favour_btn,.no_border_btn{
	border:none;
	background: none;
}
.morelink{
	display: block;
	font-size: 120%;
}
.requirement_detail_head{
	padding: 15px;
	background: #fff;
	background: -webkit-linear-gradient(#fff, #e4e4e4);
    background: -o-linear-gradient(#fff, #e4e4e4);
    background: -moz-linear-gradient(#fff, #e4e4e4);
    background: linear-gradient(#fff, #e4e4e4);
}
.requirement_detail_head h2, .requirement_detail_head h4{
	color: #961a1a;
}
.requirement_detail_head h4{
	margin: 5px 0 30px;
}
.filer_section a:hover{
	text-decoration: none;
}
.more_filter_div .custom_checkbox{
	display: none;
}
.more_filter_div{
	border-top: 1px solid #CCC;
	padding: 5px 10px;
}
.filterMainList{
	display: inline-block;
	width: 100%;
	margin: 0 -5px;
}
.filterMainList > li{
	width: 20%;
	float: left;
	padding: 0 5px;
	max-height: 160px;
	overflow: auto;
}
.filterMainList > li label{
	font-weight: normal;
}
.filterMainList .custom_checkbox + .custom_checkbox_label:before{
	width: 15px;
	height: 15px;
	border-radius: 2px;
}
.filterMainList .custom_checkbox:checked + .custom_checkbox_label:before{
	font-size: 8px;
	background: #CCC;
	color: #000;
	border-color: #CCC;
}
.property_detail_right  > .cmmn_white_bg + .cmmn_white_bg{
	margin: 20px 0 0;
}
.cmmn_white_bg article > h3{
	font-family: "SourceSemiBold";
}
#header-myModal .modal-body > .row > div + div, #login-myModal .modal-body > .row > div + div{
	border-left: 1px dashed #CCC;
}
#header-myModal .modal-body, #login-myModal .modal-body{
	padding: 20px 20px 0;
}
#login-r-button .radio-custom + .radio-custom-label:before{
	left: 45%;
    position: absolute;
    top: 100%;
}
#login-r-button  .radio-custom-label img{
	display: block;
	margin: 0 auto;
}
#login-r-button li{
	padding: 0 10px;
}
#feedback-inner select{
	appearance:none;
	-webkit-appearance:none;
	-moz-appearance:none;
	-ms-appearance:none;
	-o-appearance:none;
	color: #787878;
	background: #EBEBEB url('../images/icons/down_angle.png')no-repeat 95% 50% / 10px auto;
}
#feedback-inner .custom_select{
	background: #EBEBEB;
	margin: 0;
	padding: 5px;
}
#feedback-inner .custom_select select.form-control{
	background: #FFF url('../images/icons/down_angle.png')no-repeat 90% 50% / 10px auto;
}
#feedback-inner .custom_select > div{
	padding: 0 5px;
}
#feedback-inner ul{
	margin: 0 0 20px;
}
#feedback-inner #feed_msg{
	margin-top: 40px;
}
#feedback-inner .custom_select label{
	color: #787878;
	font-weight: normal;
	margin: 5px 0 0;
}
.user_name_box {
    background: #831016;
    border-radius: 0 0 8px 8px;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    position: absolute;
    right: 23px;
    top: 0;
    font-size: 80%;
}
.filterMainList li h4{
	font-family: "SourceSemiBold";
	margin: 0 0 5px;
}
.min_max_div{
	position: absolute;
	top: 100%;
	background: #FFF;
	z-index: 1;
	width: 200px;
}
.min_max_div article{
	padding:10px;
}
.min_max_div label{
	font-weight: normal;
	font-size: 80%;
	color: #999;
}
.min_max_div input{
	width: 100%;
	border:1px solid #999;
}
.min_max_div .row > div{
	padding: 0 5px;
}
.min_max_div input:focus{
	border-color: #841118;
}
.min_max_div > article + article{
	border-top: 1px solid rgba(153,153,153,0.2);
	padding: 10px 0;
}
.min_max_div > article li{
	color: #999;
	padding: 5px;
}
.min_max_div > article li:hover{
	background: #841118;
	color: #FFF;
}
#price_range{
	background: #fff url('../images/icons/down_angle.png') no-repeat 90% 50% / 10px auto;
	font-size: 80%;
}
.max_budget_value,.min_budget_value{
	background: #fff url('../images/icons/rupee.png') no-repeat 3% 50% / 7px auto;
	padding: 2px 10px;
}
.post_section_main{
	background: #e1e1e1;
	padding: 20px 0;
}
.width_80_per{
	width: 85%;
	margin: 0 auto;
}
#post_section_form > article{
	padding: 20px 30px;
}
.my_custom_drop_btn a{
	font-family: "SourceBold";
	display: inline-block;
	padding: 7px 20px;
	background: #981814;
	border-radius: 5px;
	color: #FFF;
}
.my_custom_drop_btn a:hover{
	text-decoration: none;
}
#post_section_form > article + article {
	border-top: 1px solid rgba(153,153,153,0.4);
	padding: 0 30px 20px;
}
.special_badge{
	background: #981814;
	border-radius: 0 0 5px 5px;
	display: inline-block;
	color: #FFF;
	padding: 3px 20px;
	margin: 0 0 30px;
	font-family: "SourceSemiBold";
}
#post_section_form > article .form-control{
	border-radius: 0px;
	box-shadow: none;
	border-color: #e1e1e1;
}
.bootstrap-select > .btn {
	border-radius: 0px;
}
#post_section_form > article label{
	font-family: "SourceBold";
	font-weight: normal;
}
#post_section_form > article label sup{
	color: #ff0000;
}
#post_section_form > article .form-group > .row{
	margin: 0;
}
#post_section_form > article .form-group > .row > div{
	padding: 0;
}
#post_section_form > article .form-group{
	margin: 0 0 30px;
}
#post_section_form > article > div > div > h3{
	color: #981814;
	font-family: "SourceBold";
	text-transform: capitalize;
}
#post_section_form .bg_select .bootstrap-select > .btn{
	background: #EBEBEB;
}
.dropzone{
	border: 1px dashed #ccc;
	background: #f0f0f0;
	border-radius: 5px;
	color: #6f6f6f;
}
.dz-message span{
	display: inline-block;
	padding: 3px 15px;
	border-radius: 5px;
	margin: 5px 0 0;
	border: 1px solid #CCC;
	background: #eeeeef;
	ackground: -webkit-linear-gradient(#eeeeef, #c8c8c8);
    background: -o-linear-gradient(#eeeeef, #c8c8c8);
    background: -moz-linear-gradient(#eeeeef, #c8c8c8);
    background: linear-gradient(#eeeeef, #c8c8c8);
}
.dz-message h3{
	margin: 0 0 5px;
}
.dz-message p{
	font-weight: normal;
	font-family: "SourceSansPro";
}
.dz-message img{
	display: inline-block;
	margin: 5px 0;
}
#post_section_form > article .form-group > h4{
	color: #981814;
	margin: 0 0 5px;
}
.property_map > iframe{
	border: 1px solid #999;
	border-radius: 5px;
}
.cmmn_btn{
	border-radius: 5px;
	padding: 7px 25px;
	border:none;
	font-family: "SourceBold";
}
.cmmn_btn.save_btn, .cmmn_btn.submit_btn{
	color: #FFF;
}
.cmmn_btn.save_btn{
	background: #2690fb;
}
.cmmn_btn.submit_btn{
	background: #981814;
}
#post_section_form > article .cancel_btn{
	background: #d7d7d7;
	color: #969696;
	text-transform: capitalize;
}
#post_section_form > article .form-group > .row.common{
	margin: 0 -5px;
}
#post_section_form > article .form-group > .row.common > div{
	padding: 0 5px;
}
#post_section_form > article .agree_rule{
	color: #535353;
	font-family: "SourceSansPro";
	margin: 0 0 5px;
}
#post_section_form > article .agree_rule a{
	color: #981814;
	font-family: "SourceSemiBold";
}
